# Data Prep for Lab 3
Construct the data which will be used in the maching learning notebook

In [1]:
# general use imports
%pylab inline
import datetime
import numpy as np
import os
import six
import warnings
import matplotlib.pyplot as plt
import re

# pandas-related imports
from __future__ import print_function
import pandas as pd
import scipy
import sklearn

# record linkage package
import recordlinkage as rl
from recordlinkage.preprocessing import clean
from recordlinkage.preprocessing import phonetic

# CSV file reading-related imports
import csv

# sqlalchemy an psycopg2 are sql connection packages
from sqlalchemy import create_engine


print( "Imports loaded at " + str( datetime.datetime.now() ) )

Populating the interactive namespace from numpy and matplotlib
Imports loaded at 2018-03-08 12:27:47.275061

#### The goal is to create a dataset that contains info on grants publications, etc for the machine learning lecture

In [2]:
## Start with project database
# create postgresql connection - three '/' indicate to use default host, port, username, and password
engine = create_engine('postgresql:///ada_pub')

QUERY = '''
SELECT *
FROM projects ;
'''
# here we pass the query and the connection to the pd.read_sql() function 
prj=pd.read_sql_query(QUERY,con=engine)

In [3]:
prj.project_number.head(100)

0        EPD05044
1        EPD05008
2        EPD05040
3        EPD05041
4        EPD05042
5        EPD05037
6        EPD05038
7        EPD05039
8        EPD05027
9        EPD05022
10       EPD05023
11    ARS-0410179
12       EPD05024
13       EPD05019
14       EPD05020
15       EPD05021
16       EPD05013
17       EPD05016
18       EPD05017
19       EPD05018
20       EPD05015
21       EPD05012
22       EPD05009
23       EPD05010
24        X832342
25        X832228
26    R829479C022
27    R829479C025
28    R829479C030
29    R829479C026
         ...
70    ARS-0409188
71    ARS-0409376
72    ARS-0409382
73    ARS-0409459
74    ARS-0410193
75    ARS-0409544
76    ARS-0409570
77    ARS-0409636
78    ARS-0409639
79    ARS-0409642
80    ARS-0409644
81    ARS-0409662
82    ARS-0409718
83    ARS-0409771
84    ARS-0410195
85    ARS-0409782
86    ARS-0409819
87    ARS-0409832
88    ARS-0409855
89    ARS-0409873
90    ARS-0409874
91    ARS-0409878
92    ARS-0409880
93    ARS-0409946
94    ARS-0410773
95    ARS-0409981
96    ARS-0409986
97    ARS-0409998
98    ARS-0409999
99    ARS-0410006
Name: project_number, Length: 100, dtype: object

#### Variables to be constructed from project file
* number of researchers
* duration
* agency
* department
* Organization
* City
* total cost
* lenght of title
* year

In [4]:
prj = prj[['project_number','project_title','department','agency','project_start_date', 'project_end_date', 
     'contact_pi_project_leader', 'other_pis', 'organization_name' , 'organization_state','fy', 
     'fy_total_cost']]

In [5]:
# We have one data that is off
prj['project_end_date'].replace(['6/30/3018'], '6/30/2018', inplace=True)

In [6]:
# Dates are currently recorded as strings, but we can change the format
prj['project_start'] = pd.to_datetime(prj['project_start_date'])
prj['project_end'] = pd.to_datetime(prj['project_end_date'])

In [7]:
prj[prj['project_end'].isnull() & prj['project_end_date'].notnull()].head()

Empty DataFrame
Columns: [project_number, project_title, department, agency, project_start_date, project_end_date, contact_pi_project_leader, other_pis, organization_name, organization_state, fy, fy_total_cost, project_start, project_end]
Index: []

In [8]:
prj[prj['project_start'].isnull() & prj['project_start_date'].notnull()].head()

Empty DataFrame
Columns: [project_number, project_title, department, agency, project_start_date, project_end_date, contact_pi_project_leader, other_pis, organization_name, organization_state, fy, fy_total_cost, project_start, project_end]
Index: []

In [9]:
# Now we can easily generate the duration of a project
prj['duration']= prj['project_end'] - prj['project_start']

In [10]:
prj[['project_start','project_end','duration']].head()

  project_start project_end duration
0    2005-03-01  2005-08-31 183 days
1    2005-03-01  2005-08-31 183 days
2    2005-03-01  2005-08-31 183 days
3    2005-03-01  2005-08-31 183 days
4    2005-03-01  2005-08-31 183 days

In [11]:
# Get number of researchers, which is the PI plus other PIs. Entries are separated by ; 
# so we can just calculate the number of entries in the string other pis and then add one for primary
prj['pi_count'] = prj['other_pis'].str.split(';').str.len() + 1

In [12]:
# If the count is missing it means that there are no other pis. In this case we wnat to replace that missing value 
# with 1 becasue we have one main pi on each grant
prj['pi_count'] = prj['pi_count'].fillna(1)

In [13]:
prj[['pi_count', 'other_pis', 'contact_pi_project_leader','project_title' ]].head(20)

,pi_count,other_pis,contact_pi_project_leader,project_title
0,1.0,None,"AGUILAR, ZORAIDA P.",A HYBRID PATHOGEN DETECTION SYSTEM
1,1.0,None,"BOSE, ANIMESH",NOVEL MATERIAL AND PROCESS FOR REPLACEMENT OF ...
2,1.0,None,"SILVER, JOEL A.",LOW-COST FEEDBACK POLLUTANT CONTROL FOR SMALL ...
3,1.0,None,"PETERSON, KRISTEN",FIELD-PORTABLE FLUORESCENCE SENSOR FOR POLYCYC...
4,1.0,None,"ELLIOTT, JEANNINE",CHROMATE-FREE NANOPARTICLE CORROSION INHIBITOR...
5,1.0,None,"HSU, FU-CHIH",DEVELOPMENT OF A NOVEL VIRUS CAPTURE SYSTEM US...
6,2.0,"HAERLE, LOUIS","MLSNA, TODD",WIRELESS DECONTAMINATION GAS MONITOR
7,1.0,None,"WU, XIAOQUN",A RETROFIT AND LOW-COST SMALL INDUSTRIAL BOILE...
8,1.0,None,"HULL, MATTHEW",MAGNETITE NANOPARTICLES FOR ENHANCED ENVIRONME...
9,1.0,None,"GOSAU, JAN-MICHAEL",A CATALYTIC EXHAUST PURIFYING SYSTEM FOR RESTA...
10,2.0,"HENSHAW, THOMAS L.","BACON, JEFFREY W.",SINGLET DELTA OXYGEN AIRFLOW STERILIZATION FOR...
11,1.0,None,"MUNYANEZA, JOSEPH E",FIELD TESTING OF MINOR USE PESTICIDES
12,1.0,None,"BLAYLOCK, MICHAEL J.",A NOVEL APPROACH TO PHYTOREMEDIATION OF PERSIS...
13,1.0,None,"SALLO, JEROME S.",ETCHANT RECOVERY SYSTEM
14,1.0,None,"BUNNELL, H. DEAN","ROBUST, NONTOXIC, AND ENVIRONMENTALLY FRIENDLY..."
15,1.0,None,"BALDWIN, TOM",FINE AND COURSE PARTICULATE CONTINUOUS EMISSIO...
16,1.0,None,"WARD, DAVID",DEVELOPMENT OF STRUCTURAL BUILDING ELEMENTS FR...
17,1.0,None,"SUNTHANKAR, MANDAR","ENVIRONMENTALLY SAFE, ECONOMICAL BRIGHT CHROME..."
18,1.0,None,"CURATOLO, BEN",ISOCYANATE-FREE SOLVENT-FREE HYBRID RESIN SYSTEM
19,1.0,None,"LIS, STEVEN A.",FIBER OPTIC DIISOCYANATE PERSONAL MONITORING D...

In [14]:
# Length of Title
# we need to remove special characters first (use recordlinkage clean function)
prj['project_title']=clean(prj['project_title'], lowercase=False, remove_brackets=True)

In [15]:
prj['tit_len'] = prj['project_title'].str.split(' ').str.len()

In [16]:
prj[['project_title', 'tit_len']].head()

                                       project_title  tit_len
0                 A HYBRID PATHOGEN DETECTION SYSTEM        5
1  NOVEL MATERIAL AND PROCESS FOR REPLACEMENT OF ...        9
2  LOW COST FEEDBACK POLLUTANT CONTROL FOR SMALL ...        9
3  FIELD PORTABLE FLUORESCENCE SENSOR FOR POLYCYC...        8
4  CHROMATE FREE NANOPARTICLE CORROSION INHIBITOR...        7

#### Only keep the variables we need from this file

In [17]:
prj.count()

project_number               894014
project_title                894014
department                   894014
agency                       894014
project_start_date           778532
project_end_date             793081
contact_pi_project_leader    893919
other_pis                     98771
organization_name            893492
organization_state           880642
fy                           894014
fy_total_cost                727360
project_start                778532
project_end                  793081
duration                     778156
pi_count                     894014
tit_len                      894014
dtype: int64

In [18]:
prj = prj[['project_number','department','agency','project_start','project_end','organization_name', 'organization_state',
     'fy','fy_total_cost', 'duration', 'pi_count','tit_len']]

In [19]:
prj.head()

,project_number,department,agency,project_start,project_end,organization_name,organization_state,fy,fy_total_cost,duration,pi_count,tit_len
0,EPD05044,EPA,EPA,2005-03-01,2005-08-31,VEGRANDIS INC.,None,2005,70000.0,183 days,1.0,5
1,EPD05008,EPA,EPA,2005-03-01,2005-08-31,"MATERIALS PROCESSING, INC.",None,2005,69916.0,183 days,1.0,9
2,EPD05040,EPA,EPA,2005-03-01,2005-08-31,SOUTHWEST SCIENCES INC,None,2005,70000.0,183 days,1.0,9
3,EPD05041,EPA,EPA,2005-03-01,2005-08-31,SOUTHWEST SCIENCES INC,None,2005,70000.0,183 days,1.0,8
4,EPD05042,EPA,EPA,2005-03-01,2005-08-31,TDA RESEARCH INC,None,2005,70000.0,183 days,1.0,7

#### Now start preparing publication data

In [20]:
QUERY = '''
SELECT *
FROM publications_hhs ;
'''
# here we pass the query and the connection to the pd.read_sql() function 
pub=pd.read_sql_query(QUERY,con=engine)

In [21]:
pub.count()

affiliation            731687
author_list           1054259
country               1026318
issn                  1043121
journal_issue          945078
journal_title         1054427
journal_title_abbr    1054427
journal_volume        1044966
lang                  1054427
page_number           1038409
pmc_id                 808443
pmid                  1054427
pub_date              1044500
pub_title             1054376
pub_year              1054427
project_number        1054427
dtype: int64

Variables we wnat to create for each project are: 
* number of publications total
* number of publications (just dummy english/other)
* number of publications by Journal (US journal vs other)

In [22]:
# sort dataframe by project number and year
pub.sort_values(by=['project_number', 'pub_year'], inplace=True)
pub.head()

,affiliation,author_list,country,issn,journal_issue,journal_title,journal_title_abbr,journal_volume,lang,page_number,pmc_id,pmid,pub_date,pub_title,pub_year,project_number
1024452,None,"Cooper, Jennifer; Zimmerman, Wendy",United States,1525-1446,1,"Public health nursing (Boston, Mass.)",Public Health Nurs,33,eng,53-64,NaN,26354189,2016 Jan-Feb,The Evaluation of a Regional Faith Community N...,2016,B01DP009025
1030873,None,"Schuch, Laura; Curtis, Jacqueline W; Curtis, A...",United States,1468-2869,1,Journal of urban health : bulletin of the New ...,J Urban Health,93,eng,36-52,4794455.0,26666248,2016 Feb,Breaking Out of Surveillance Silos: Integrativ...,2016,B01DP009042
735605,"Bristow Medical Center, 700 W. 7th St., Bristo...","Brandenburg, Mark A; Subera, Layne; Doran-Redu...",United States,0030-1876,10,The Journal of the Oklahoma State Medical Asso...,J Okla State Med Assoc,106,eng,391-7,NaN,24404674,2013 Oct,Opioid prescribing guidelines for Oklahoma eme...,2013,B01DP009043
755924,None,"Subera, Layne E; Brandenburg, Mark A; Doran-Re...",United States,0030-1876,8,The Journal of the Oklahoma State Medical Asso...,J Okla State Med Assoc,107,eng,416-30,NaN,25326945,2014 Aug,Opioid prescribing guidelines for Oklahoma hea...,2014,B01DP009043
359272,"Centers for Disease Control and Prevention, Na...","Dube, Shanta R; Cook, Michelle L; Edwards, Val...",United States,1545-1151,3,Preventing chronic disease,Prev Chronic Dis,7,eng,A52,2879984.0,20394691,2010 May,Health-related outcomes of adverse childhood e...,2010,B01DP009053

In [23]:
# Create language dummy (english vs others)
pub['engl_pub'] = np.where(pub['lang'] == "eng", 1, 0)
pub['other_pub'] = np.where(pub['lang'] != "eng", 1, 0)

In [24]:
# Group country Variable
pub['NorthAmerica_pub'] = np.where((pub['country'] == "United States") | (pub['country'] == "Canada")
                             , 1, 0)
pub['Europe_pub'] = np.where((pub['country'] == "England") | (pub['country'] == "Greece") | 
                             (pub['country'] == "Switzerland") | (pub['country'] == "Netherlands") |
                             (pub['country'] == "Germany") | (pub['country'] == "Spain") |
                             (pub['country'] == "Irland") | (pub['country'] == "Denmark") |
                             (pub['country'] == "France") | (pub['country'] == "Scotland") |
                             (pub['country'] == "Norway") | (pub['country'] == "Czech Republic") |
                             (pub['country'] == "Italy") | (pub['country'] == "Poland") |
                             (pub['country'] == "Finland") | (pub['country'] == "Austria") |
                             (pub['country'] == "Sweden") | (pub['country'] == "Belgium") |
                             (pub['country'] == "Bulgaria") | (pub['country'] == "Hungary") |
                             (pub['country'] == "Romania") | (pub['country'] == "Bosnia and Herzegovina") |
                             (pub['country'] == "Slovenia") | (pub['country'] == "Slovakia") |
                             (pub['country'] == "United Kingdom") | (pub['country'] == "Portugal") |
                             (pub['country'] == "Serbia") | (pub['country'] == "Malta") |
                             (pub['country'] == "Lithuania") | (pub['country'] == "Malta") |
                             (pub['country'] == "Wales") | (pub['country'] == "Iceland") 
                             , 1, 0)

In [25]:
pub[['project_number', 'journal_title', 'engl_pub', 'other_pub', 'NorthAmerica_pub','Europe_pub']].head(100)

,project_number,journal_title,engl_pub,other_pub,NorthAmerica_pub,Europe_pub
1024452,B01DP009025,"Public health nursing (Boston, Mass.)",1,0,1,0
1030873,B01DP009042,Journal of urban health : bulletin of the New ...,1,0,1,0
735605,B01DP009043,The Journal of the Oklahoma State Medical Asso...,1,0,1,0
755924,B01DP009043,The Journal of the Oklahoma State Medical Asso...,1,0,1,0
359272,B01DP009053,Preventing chronic disease,1,0,1,0
1005910,C06RR020539,Clinical cancer research : an official journal...,1,0,1,0
570480,C06RR028655,Leukemia research,1,0,0,1
702061,C06RR029965,Prenatal diagnosis,1,0,0,1
734826,C06RR029965,JAMA neurology,1,0,1,0
861745,C06RR029965,Fertility and sterility,1,0,1,0
921092,C06RR029965,Nature,0,1,0,1
960127,C06RR029965,"Human reproduction (Oxford, England)",1,0,0,1
986857,C06RR029965,"Cerebellum (London, England)",1,0,1,0
597599,C06RR030414,"Science (New York, N.Y.)",1,0,1,0
647319,C06RR030414,International journal of oncology,1,0,0,1
709461,C06RR030414,Genes & development,0,1,1,0
712329,C06RR030414,Blood,0,1,1,0
730040,C06RR030414,Journal of the National Cancer Institute,1,0,1,0
736799,C06RR030414,European journal of clinical investigation,1,0,0,1
773828,C06RR030414,PloS one,1,0,1,0
777963,C06RR030414,Journal of structural biology,1,0,1,0
809954,C06RR030414,Differentiation; research in biological diversity,1,0,0,1
833402,C06RR030414,Nature,1,0,0,1
857828,C06RR030414,Journal of neuro-oncology,1,0,1,0
886808,C06RR030414,Oncotarget,1,0,1,0
891573,C06RR030414,BMC genomics,1,0,0,1
916848,C06RR030414,Genome research,1,0,1,0
952834,C06RR030414,"Development (Cambridge, England)",1,0,0,1
999763,C06RR030414,BMC genomics,1,0,0,1
1014323,C06RR030414,Scientific reports,1,0,0,1
...,...,...,...,...,...,...
594767,D43HD065249,PloS one,1,0,1,0
599322,D43HD065249,BMC public health,0,1,0,1
615164,D43HD065249,Atherosclerosis,1,0,0,0
632666,D43HD065249,Social science & medicine (1982),1,0,0,1
638712,D43HD065249,"The Mount Sinai journal of medicine, New York",0,1,1,0
638810,D43HD065249,International journal of epidemiology,0,1,0,1
653042,D43HD065249,"Clinical science (London, England : 1979)",0,1,0,1
664673,D43HD065249,The National medical journal of India,1,0,0,0
665611,D43HD065249,Diabetes technology & therapeutics,1,0,1,0
666936,D43HD065249,International journal of epidemiology,0,1,0,1
674063,D43HD065249,Ecology of food and nutrition,1,0,1,0
697680,D43HD065249,The Indian journal of medical research,1,0,0,0
700747,D43HD065249,Journal of human genetics,1,0,0,1
718774,D43HD065249,Journal of preventive cardiology,1,0,0,0
729221,D43HD065249,Indian journal of pediatrics,1,0,0,0
734634,D43HD065249,European heart journal,1,0,0,1
780877,D43HD065249,Current diabetes reviews,1,0,0,0
811618,D43HD065249,Health research policy and systems,0,1,0,1
845857,D43HD065249,Indian pediatrics,0,1,0,0
845908,D43HD065249,Diabetologia,0,1,0,1
852780,D43HD065249,Preventive medicine,0,1,1,0
882502,D43HD065249,The Journal of clinical endocrinology and meta...,0,1,1,0
993311,D43HD065249,Global heart,1,0,0,1
997425,D43HD065249,COPD,1,0,0,1
1004144,D43HD065249,Global heart,1,0,0,1
1008276,D43HD065249,European journal of preventive cardiology,1,0,0,1
1035903,D43HD065249,"Nutrition (Burbank, Los Angeles County, Calif.)",1,0,1,0
861815,D43MH108169,Schizophrenia research,1,0,0,1
722279,D43NS078280,BMJ open,0,1,0,1
852949,D43NS078280,Clinical infectious diseases : an official pub...,0,1,1,0

In [26]:
# Now lets generate some vars for each project, using groupby
pub_outcome = pub.groupby(by=['project_number'])['engl_pub', 'other_pub', 'NorthAmerica_pub','Europe_pub'].agg(['sum'])

In [27]:
pub_outcome = pub_outcome.reset_index()

In [28]:
pub_outcome['total_pub'] = pub_outcome['engl_pub'] + pub_outcome['other_pub']
pub_outcome.count()

project_number           113121
engl_pub          sum    113121
other_pub         sum    113121
NorthAmerica_pub  sum    113121
Europe_pub        sum    113121
total_pub                113121
dtype: int64

In [29]:
pub_outcome.head(100)

   project_number engl_pub other_pub NorthAmerica_pub Europe_pub total_pub
                       sum       sum              sum        sum
0     B01DP009025        1         0                1          0         1
1     B01DP009042        1         0                1          0         1
2     B01DP009043        2         0                2          0         2
3     B01DP009053        1         0                1          0         1
4     C06RR020539        1         0                1          0         1
5     C06RR028655        1         0                0          1         1
6     C06RR029965        5         1                3          3         6
7     C06RR030414       16         2                9          9        18
8     C06RR030651        2         1                2          1         3
9     D43CA153707        2         0                2          0         2
10    D43CA153715        5         0                3          2         5
11    D43CA153717        3         0                3          0         3
12    D43CA153720        1         0                1          0         1
13    D43CA153722        4         0                1          3         4
14    D43CA153726        1         0                1          0         1
15    D43CA153784        2         0                2          0         2
16    D43CA153792        4         0                0          4         4
17    D43ES018744        2         0                1          1         2
18    D43ES018745        1         5                1          4         6
19    D43HD065249       23        10               10         14        33
20    D43MH108169        1         0                0          1         1
21    D43NS078280        1         4                3          2         5
22    D43TW000003       75        13               38         34        88
23    D43TW000004       45         3               34         13        48
24    D43TW000007       46        20               40         24        66
25    D43TW000010       83        15               46         45        98
26    D43TW000011       17         8               14          7        25
27    D43TW000013       54        17               38         28        71
28    D43TW000017        9         1                7          2        10
29    D43TW000018       20         3                9         13        23
..            ...      ...       ...              ...        ...       ...
70    D43TW005718       27         5               15         16        32
71    D43TW005724        1         0                1          0         1
72    D43TW005741        3         0                2          1         3
73    D43TW005746       29         8               13         19        37
74    D43TW005750       27         4               15         15        31
75    D43TW005799       13         2                7          2        15
76    D43TW005807       44        14               22         17        58
77    D43TW005809       11         1                3          7        12
78    D43TW005810       11         1                1         10        12
79    D43TW005811       14         7               11          8        21
80    D43TW005814       15         2                2         13        17
81    D43TW005816        3         2                3          1         5
82    D43TW005818       12         2                4          8        14
83    D43TW005819        5         0                3          2         5
84    D43TW005884       17         1               10          7        18
85    D43TW006563       29         1               16         12        30
86    D43TW006568        3         0                1          2         3
87    D43TW006571       16         2                4         14        18
88    D43TW006576        2         0                1          1         2
89    D43TW006578       12         2               11          3        14
90    D43TW006581       28         8               29          7        36
91    D43TW006589       21         5               18          6        26
92    D43TW006592       16         2               12          4        18
93    D43TW006732        7         4                6          3        11
94    D43TW006793        5         2                2          1         7
95    D43TW006807       14         0                7          7        14
96    D43TW006993        5         0                2          3         5
97    D43TW007004        5         0                2          3         5
98    D43TW007012       32         5               14         17        37
99    D43TW007015       24         7               12         12        31

[100 rows x 6 columns]

In [30]:
pub_outcome.total_pub.describe()

count    113121.000000
mean          9.321231
std          30.748991
min           1.000000
25%           2.000000
50%           4.000000
75%          10.000000
max        6669.000000
Name: total_pub, dtype: float64

In [31]:
QUERY = '''
SELECT project_number, title
FROM publications_other ;
'''
# here we pass the query and the connection to the pd.read_sql() function 
pub2=pd.read_sql_query(QUERY,con=engine)

In [32]:
# Gen indicator to count publications
pub2['pub_count'] = np.where((pub2['title'] != np.NaN) , 1, 0)

In [33]:
pub2 = pub2[['project_number','pub_count']]

In [34]:
pub2.project_number.value_counts()

USFS-0000615    1320
USFS-0000558    1122
USFS-0000563     960
USFS-0000693     648
0822283          643
1157698          589
USFS-0000690     588
0833178          582
1002410          576
USFS-0000561     570
0819885          568
1300426          568
0822838          548
0820521          514
1410972          505
USFS-0000592     504
0903787          494
USFS-0000559     468
1211067          465
0814251          456
0749028          452
USFS-0000625     450
USFS-0000560     444
1430152          440
USFS-0000708     432
1125897          424
USFS-0000567     420
USFS-0000624     414
1205960          407
0855405          402
                ...
1059160            1
1360509            1
0940520            1
1351129            1
1203947            1
1125698            1
0938120            1
1224868            1
1510296            1
1661756            1
1418858            1
0967023            1
1510293            1
1243622            1
0926848            1
1303378            1
1537372            1
0803997            1
0850690            1
1350696            1
1464293            1
1109682            1
1161196            1
1235328            1
1119866            1
1244506            1
1110607            1
1200489            1
1033212            1
1139143            1
Name: project_number, Length: 60265, dtype: int64

In [35]:
# Now lets generate some vars for each project, using groupby
pub2_outcome = pub2.groupby(by=['project_number'])['pub_count'].agg(['sum'])
pub2_outcome = pub2_outcome.reset_index()

In [36]:
pub2_outcome.head(100)

                                       project_number  sum
0                                         \t\t  Clark    1
1                        \t\t  Torbj{\"o}rn and Blaha    1
2   \t\t Levine and Julien Tierny and Valerio Pasc...    1
3                                                 \t"   14
4                                       \tHans-Georg"    2
5                       \tRavi and Guido Sch\"{a}fer"    2
6                                      \tand Moriarty    1
7   \tat the Electron-Collecting Interface of P3HT...    1
8                                         \t{Bouvier}    5
9                                         \t{Buckley}    8
10                                      \t{Cantatore}    1
11                                        \t{Carmona}    2
12                                         \t{Ciupik}    8
13                                     \t{Elias-Rosa}    2
14                                        \t{Gal-Yam}    1
15                                           \t{Goto}    1
16                                     \t{G{\"o}rres}    1
17                                          \t{Iliev}    1
18                                           \t{Katz}    1
19                                            \t{Liu}    1
20                                \t{L{\"u}tzgendorf}    1
21                                         \t{Modjaz}    1
22                                       \t{Olivares}    1
23                                    \t{Oppenheimer}    2
24                                         \t{Pariat}    1
25                                       \t{Peterson}    1
26                                        \t{Raffelt}    1
27                                  \t{Sa{\c d}owski}    2
28                               \t{Sa{\cedil}dowski}    1
29                                          \t{Serio}    1
..                                                ...  ...
70                                          Schneider    1
71                                              Timo"    2
72                                             Uecker    1
73                                           and Yang    1
74                                        and Zumbrun    3
75                                       and Zygouras    2
76                                               and"    1
77               Gregory S. Tschumper and Jared H....    1
78                                          Matthias"    1
79               Stefan Kopecz and Philipp Birken and    1
80                                        Br{\'e}das"    1
81        Runsfeld and R. M. Parrish and C. D. She...    1
82                                    & Esteban Moro"    1
83  (Has been accepted for production and will req...    1
84  (online access only; no longer publishes abstr...    1
85              , 2010, 353, 10.1109/FPT.2010.5681429    1
86                   , 2010, 438, 10.1109/FPL.2010.90    1
87                   , 2011, 349, 10.1109/FPL.2011.69    1
88                , 21, 2011, 64, 10.1109/FPL.2011.22    1
89  , Proc. of IEEE Aerospace Conference (AERO), 2...    1
90                                            0426369    3
91                                            0426408    1
92                                            0426428    8
93                                            0430463    2
94                                            0618885    1
95                                            0620124    1
96                                            0623165    2
97                                            0635477   20
98                                            0635715   17
99                                            0636623    3

[100 rows x 2 columns]

#### Now merge outcome file to project file
We want to keep the records that are only in the left dataframe. These are our projects which don't have publications

In [37]:
learn = prj.merge(pub2_outcome, left_on=['project_number'], right_on=['project_number'], how='left')

In [38]:
learn.rename(columns={'sum': 'pub_count'}, inplace=True)

In [39]:
learn.head(1000)

,project_number,department,agency,project_start,project_end,organization_name,organization_state,fy,fy_total_cost,duration,pi_count,tit_len,pub_count
0,EPD05044,EPA,EPA,2005-03-01,2005-08-31,VEGRANDIS INC.,None,2005,70000.0,183 days,1.0,5,NaN
1,EPD05008,EPA,EPA,2005-03-01,2005-08-31,"MATERIALS PROCESSING, INC.",None,2005,69916.0,183 days,1.0,9,NaN
2,EPD05040,EPA,EPA,2005-03-01,2005-08-31,SOUTHWEST SCIENCES INC,None,2005,70000.0,183 days,1.0,9,NaN
3,EPD05041,EPA,EPA,2005-03-01,2005-08-31,SOUTHWEST SCIENCES INC,None,2005,70000.0,183 days,1.0,8,NaN
4,EPD05042,EPA,EPA,2005-03-01,2005-08-31,TDA RESEARCH INC,None,2005,70000.0,183 days,1.0,7,NaN
5,EPD05037,EPA,EPA,2005-03-01,2005-08-31,SCIENTIFIC METHODS INC,None,2005,69930.0,183 days,1.0,12,NaN
6,EPD05038,EPA,EPA,2005-03-01,2005-08-31,SEACOAST SCIENCE INC,None,2005,66204.0,183 days,2.0,4,NaN
7,EPD05039,EPA,EPA,2005-03-01,2005-08-31,SORPTION TECHNOLOGIES INC.,None,2005,69990.0,183 days,1.0,12,NaN
8,EPD05027,EPA,EPA,2005-03-01,2005-08-31,LUNA INNOVATIONS INC,None,2005,69939.0,183 days,1.0,6,NaN
9,EPD05022,EPA,EPA,2005-03-01,2005-08-31,"CLEAR SKIES UNLIMITED, INC.",None,2005,70000.0,183 days,1.0,7,NaN
10,EPD05023,EPA,EPA,2005-03-01,2005-08-31,"NEUMANN SYSTEMS GROUP, INC.",None,2005,69065.0,183 days,2.0,8,NaN
11,ARS-0410179,USDA,ARS,2005-11-01,2010-08-09,FRUIT AND VEGETABLE INSECT RESEARCH,WA,2006,NaN,1742 days,1.0,6,NaN
12,EPD05024,EPA,EPA,2005-03-01,2005-08-31,EDENSPACE SYSTEMS CORPORATION,None,2005,70000.0,183 days,1.0,9,NaN
13,EPD05019,EPA,EPA,2005-03-01,2005-08-31,"REPUBLIC ANODES FABRICATORS, INC.",None,2005,68200.0,183 days,1.0,3,NaN
14,EPD05020,EPA,EPA,2005-03-01,2005-08-31,"THERMOLOSE CELLULOSE PRODUCTS, INC.",None,2005,69737.0,183 days,1.0,14,NaN
15,EPD05021,EPA,EPA,2005-03-01,2005-08-31,"BALDWIN ENVIRONMENTAL, INC.",None,2005,70000.0,183 days,1.0,8,NaN
16,EPD05013,EPA,EPA,2005-03-01,2005-08-31,ASHLAND PROTOTYPES,None,2005,70000.0,183 days,1.0,9,NaN
17,EPD05016,EPA,EPA,2005-03-01,2005-08-31,IONEDGE CORPORATION,None,2005,70000.0,183 days,1.0,11,NaN
18,EPD05017,EPA,EPA,2005-03-01,2005-08-31,"DR. BEN CURATOLO, INC.",None,2005,69671.0,183 days,1.0,7,NaN
19,EPD05018,EPA,EPA,2005-03-01,2005-08-31,LIGHTLINE TECHNOLOGIES INC,None,2005,70000.0,183 days,1.0,6,NaN
20,EPD05015,EPA,EPA,2005-03-01,2005-08-31,IONEDGE CORPORATION,None,2005,70000.0,183 days,1.0,13,NaN
21,EPD05012,EPA,EPA,2005-03-01,2005-08-31,"GEOPRAXIS, INC.",None,2005,70000.0,183 days,1.0,11,NaN
22,EPD05009,EPA,EPA,2005-03-01,2005-08-31,"ADS TECHNOLOGIES, INC.",None,2005,69953.0,183 days,1.0,10,NaN
23,EPD05010,EPA,EPA,2005-03-01,2005-08-31,FARADAY TECHNOLOGY INC,None,2005,69882.0,183 days,1.0,8,NaN
24,X832342,EPA,EPA,2005-04-01,2008-03-31,UNIVERSITY OF HOUSTON,None,2005,NaN,1095 days,4.0,16,10.0
25,X832228,EPA,EPA,2005-06-01,2008-02-29,TEXAS STATE UNIVERSITY-SAN MARCOS,None,2005,145400.0,1003 days,6.0,18,NaN
26,R829479C022,EPA,EPA,2004-10-01,2007-12-31,UNIVERSITY OF NEBRASKA,None,2005,NaN,1186 days,1.0,8,NaN
27,R829479C025,EPA,EPA,2004-10-01,2007-12-31,UNIVERSITY OF FLORIDA,None,2005,NaN,1186 days,1.0,7,NaN
28,R829479C030,EPA,EPA,2004-10-01,2007-12-31,TEXAS A&amp;M AGRICULTURAL RESEARCH AND EXTENS...,None,2005,NaN,1186 days,2.0,6,NaN
29,R829479C026,EPA,EPA,2004-10-01,2007-12-31,PURDUE UNIVERSITY - MAIN CAMPUS,None,2005,NaN,1186 days,1.0,5,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
970,F07F20358,EPA,EPA,2007-08-01,2010-08-01,UNIVERSITY OF ILLINOIS AT URBANA-CHAMPAIGN,None,2007,NaN,1096 days,1.0,9,NaN
971,F07D10079,EPA,EPA,2007-08-01,2010-07-31,MISSISSIPPI STATE UNIVERSITY - MAIN CAMPUS,None,2007,NaN,1095 days,1.0,15,NaN
972,F07A20389,EPA,EPA,2007-08-01,2010-08-01,PENNSYLVANIA STATE UNIVERSITY,None,2007,NaN,1096 days,1.0,15,NaN
973,F07F71130,EPA,EPA,2007-08-01,2010-08-01,FLORIDA INTERNATIONAL UNIVERSITY,None,2007,NaN,1096 days,1.0,18,NaN
974,F07B81071,EPA,EPA,2007-08-01,2008-08-01,UNIVERSITY OF IDAHO,None,2007,NaN,366 days,1.0,15,NaN
975,F07P11135,EPA,EPA,2007-08-02,2009-05-02,OCCIDENTAL COLLEGE,None,2007,41500.0,639 days,1.0,8,NaN
976,F07P41144,EPA,EPA,2007-08-14,2009-05-14,COLGATE UNIVERSITY,None,2007,41500.0,639 days,1.0,5,NaN
977,F07P21141,EPA,EPA,2007-08-16,2009-05-16,HOBART AND WILLIAM SMITH COLLEGES,None,2007,41500.0,639 days,1.0,3,NaN
978,F07F10973,EPA,EPA,2007-08-16,2009-08-16,UNIVERSITY OF NORTH CAROLINA AT CHAPEL HILL,None,2007,NaN,731 days,1.0,20,NaN
979,F07D10650,EPA,EPA,2007-08-17,2008-08-17,UNIVERSITY OF NORTH CAROLINA AT CHAPEL HILL,None,2007,NaN,366 days,1.0,23,NaN
980,F07D10649,EPA,EPA,2007-08-22,2010-08-31,UNIVERSITY OF MIAMI,None,2007,NaN,1105 days,1.0,10,NaN
981,F07D40791,EPA,EPA,2007-08-29,2010-08-29,UNIVERSITY OF MARYLAND CENTER FOR ENVIRONMENTA...,None,2007,NaN,1096 days,1.0,20,NaN
982,ARS-0411505,USDA,ARS,2006-12-22,2011-12-21,WIND EROSION AND WATER CONSERVATION RESEARCH,TX,2007,NaN,1825 days,1.0,12,NaN
983,ARS-0411515,USDA,ARS,2006-12-21,2011-12-20,NATIONAL SOIL EROSION RESEARCH,IN,2007,NaN,1825 days,1.0,9,NaN
984,ARS-0411699,USDA,ARS,2007-03-05,2012-03-04,CROP GENETICS RESEARCH,MS,2007,NaN,1826 days,1.0,10,NaN
985,ARS-0411525,USDA,ARS,2006-12-23,2011-12-22,SOIL DRAINAGE RESEARCH,OH,2007,NaN,1825 days,1.0,16,NaN
986,ARS-0411528,USDA,ARS,2007-04-09,2012-04-08,CROP DISEASES PESTS AND GENETICS,CA,2007,NaN,1826 days,1.0,16,NaN
987,ARS-0411540,USDA,ARS,2007-01-29,2012-01-12,INTEGRATED FARMING AND NATURAL RESOURCES RESEARCH,TX,2007,NaN,1809 days,1.0,16,NaN
988,ARS-0411542,USDA,ARS,2007-01-26,2012-01-25,WATER QUALITY AND ECOLOGY RESEARCH,MS,2007,NaN,1825 days,1.0,14,NaN
989,ARS-0411545,USDA,ARS,2007-01-29,2012-01-28,WATER MANAGEMENT RESEARCH,CA,2007,NaN,1825 days,1.0,9,NaN
990,ARS-0411554,USDA,ARS,2006-12-08,2011-12-07,WATER REUSE AND REMEDIATION RESEARCH,CA,2007,NaN,1825 days,1.0,18,NaN
991,ARS-0411568,USDA,ARS,2007-02-21,2012-01-12,BEEF CATTLE RESEARCH,FL,2007,NaN,1786 days,1.0,19,NaN
992,ARS-0411570,USDA,ARS,2007-01-26,2012-01-25,CROPPING SYSTEMS AND WATER QUALITY RESEARCH,MO,2007,NaN,1825 days,1.0,8,NaN
993,ARS-0411581,USDA,ARS,2007-03-08,2012-03-07,SOUTHEAST WATERSHED RESEARCH,GA,2007,NaN,1826 days,1.0,14,NaN
994,ARS-0411701,USDA,ARS,2007-04-09,2012-04-08,CROP PROTECTION AND MANAGEMENT RESEARCH,GA,2007,NaN,1826 days,1.0,10,NaN
995,ARS-0411591,USDA,ARS,2007-01-16,2011-10-05,VIRUS AND PRION,IA,2007,NaN,1723 days,1.0,8,NaN
996,ARS-0411596,USDA,ARS,2007-07-24,2012-07-23,ANIMAL BIOSCIENCES AND BIOTECHNOLOGY LABORATORY,MD,2007,NaN,1826 days,1.0,20,NaN
997,ARS-0411614,USDA,ARS,2007-02-01,2011-10-10,ENDEMIC POULTRY VIRAL DISEASES RESEARCH,GA,2007,NaN,1712 days,1.0,8,NaN
998,ARS-0411630,USDA,ARS,2007-03-09,2012-03-08,SOYBEAN GENOMICS AND IMPROVEMENT LABORATORY,MD,2007,NaN,1826 days,1.0,8,NaN
999,ARS-0411675,USDA,ARS,2007-02-26,2012-02-25,BIOLOGICAL INTEGRATED PEST MANAGEMENT RESEARCH,NY,2007,NaN,1825 days,1.0,11,NaN

In [40]:
# we want to replace the missings with zero. It means that we haven't found publications for them in our database
learn['pub_count']=learn.pub_count.fillna(0)

In [41]:
learn.pub_count.describe()

count    894014.000000
mean          0.778203
std           9.868726
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max        1320.000000
Name: pub_count, dtype: float64

In [42]:
# delete the rows with missing values
learn = learn.dropna()

In [43]:
learn.describe()

,fy,fy_total_cost,duration,pi_count,tit_len,pub_count
count,683212.000000,6.832120e+05,683212,683212.000000,683212.000000,683212.000000
mean,2011.848340,4.594791e+05,2207 days 19:46:04.806238,1.271961,9.442429,0.950052
std,2.589219,1.317437e+06,2268 days 21:49:00.578435,0.819105,5.487699,10.456771
min,2004.000000,1.000000e+00,-1939 days +00:00:00,1.000000,1.000000,0.000000
25%,2010.000000,1.480510e+05,1081 days 00:00:00,1.000000,6.000000,0.000000
50%,2012.000000,2.998860e+05,1641 days 00:00:00,1.000000,8.000000,0.000000
75%,2014.000000,4.320000e+05,1947 days 00:00:00,1.000000,11.000000,0.000000
max,2016.000000,2.811221e+08,18627 days 00:00:00,39.000000,54.000000,1320.000000

In [44]:
pwd

u'/wingrdp/homedirs/deh341/ada_pub'

In [45]:
# save as csv file
learn.to_csv('/wingrdp/gscratch/share/wagner2018/machinelearning.csv', encoding=('utf-8'))